body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}
body,
html {
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("../images/illumanit.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welc {
	text-align: center;
	border-radius: 10px;
	text-shadow: 3px 3px black;
	border: 10px solid black;
	color: white;
}

.points {
	border-radius: 10px;
	width: 25%;
	text-shadow: 3px 3px black;
	border: 10px solid black;
	color: white;
}

.navbar-default {

   //background: linear-gradient(to top, #0000cc 0%, #ff3300 100%);

}
